.auth-page{
    height: 100%;
    display: flex;
    flex-direction: row;
}
.auth-page__big_column{
    background-repeat: no-repeat;
    background-size: cover;
    width: 60%;
    height: 100%;
    border-top-right-radius: 32px;
    border-bottom-right-radius: 32px;
}
.auth-page__small_column{
    width: 40%;
    height: 100%;
}
.auth-background{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
