.login-form{
    width: 550px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
}

.login-form__title{
    color: var(--dark-blue);
    text-align: center;
    font-size: 40px;
    font-weight: 400;
}

.login-form__subtitle{
    text-align: center;
    color: var(--light-grey);
    font-weight: 400;
    font-size: 24px;
}

.login-form__form{
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}

.login-form__text{
    margin-top: 32px;
    font-size: 24px;
    color: var(--light-grey);
}

.form-input__input{
    align-self: center;
    width: 450px;
    border-radius: 4px;
    font-size: 18px;
    padding: 4px;
}

.form-input{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.form-input__error{
    padding: 4px;
    color: var(--red);
    font-family: inherit;
    font-size: 20px;
}

.login-form__submit{
    margin-top: 24px;
    width: 300px;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.submit__btn{
    width: 100%;
}

.btn {
	display: inline-block;	
	box-sizing: border-box;
	outline: none;
	border: none;  
    padding: 8px 32px;
	border-radius: 12px;
    background-color: white;
    border: 3px solid var(--dark-blue);
	font-family: inherit; 
    font-size: 28px;
	font-weight: 500;
	text-decoration: none;
	color: var(--dark-blue);
	cursor: pointer;
	user-select: none;
	appearance: none;
	touch-action: manipulation;
}
.btn:focus-visible {
	box-shadow: 0 0 0 2px var(--dark-grey);
}
.btn:hover {
	background-color: var(--dark-blue);
    color: white;
}
.btn:active {
	transform: scale(0.96);
}
.btn:disabled {
	pointer-events: none;
	opacity: 0.65;
}

.input{
    color: var(--dark-text);
    font-family: inherit; 
    font-size: 32px; 
    font-weight: 400;
    line-height: inherit; 
    padding: 12px;
    outline: none;
    border: none;
    border-radius: 12px;
    background-color: var(--light-blue);
}

.input::placeholder{
    color: var(--light-grey);
    font-family: inherit; 
    font-weight: 400;
}