:root {
  --dark-blue: #385898;
  --light-blue: #e7f3ff;
  --dark-grey: #666;
  --light-grey: rgb(180, 184, 193);
  --red: red;
}


*,*:before,*:after {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

#root{
  height: 100%;
}